# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Object files
*.o

# executable
*.exe

##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# vim files
*.swp
